@use '@constants' as *

.cardDescription

  & > p
    font-size: 16px
    font-style: italic
    line-height: 20px

.title

  color: black
  text-decoration: none

  margin-bottom: $radius

  font-size: 20px
  font-weight: 600
  line-height: 20px

  &:hover
    color: $orange
